body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-image: url("./images/waterdroplets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h2,
h3 {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: rgba(111, 228, 243, 0.712);
  font-weight: bold;
}
ol {
  list-style-position: outside;
}
ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}
